{% extends "subreddits/subreddit_base.html"%}
{% block presubreddit %}
<div class="col-md-4">
  <div class="content">
    {% if user.is_authenticated %}
      <h2>Welcome Back !
         <a href="{% url 'posts:for_user' username=user.username %}">@{{user.username}}</a>
      </h2>
    {% endif %}
    <h2>SubReddits</h2>
    <p>Welcome to the subReddits page</p>
  </div>
  {% if user.is_authenticated %}
  <a href="{% url 'subreddits:create' %} class='btn btn-md btn-fill btn-warning'">
    <span class='glyphicon glyphicon-plus-sign'>Create New SubReddit!</span>
  </a>

  {% endif%}


</div>

{% endblock %}

{% block subreddit_content %}
<div class="col-md-8">
  <div class="list-subreddit">
    {% for subreddit in object_list %}
    <a class = 'list-subreddit-item' href="{% url 'subreddit:single' slug=subreddit.slug %}">
      <h3 class="title list-subreddit-item-heading">{{subreddit.name}}</h3>
      <div class="list-group-item-text container-fluid">
        {{subreddit.description_html|safe}}
        <div class="row">
          <div class="col-md-4">
            <span class="badge">{{subreddit.members.count}}</span>
            member{{subreddit.members.count|pluralize}}

          </div>
          <div class="col-md-4">
            <span class="badge">{{subreddit.posts.count}}</span>
            post{{group.posts.count|pluralize}}
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
